@font-face {
    font-family: MarvelRegular;
    src: url(./font/Marvel-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: url(./assets/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::-webkit-scrollbar{
    width: 0.7rem;
    height: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: goldenrod;
    border-radius: 10px;
  }

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}


/* BANNER CSS START */

.banner{
    overflow: hidden;
    z-index: 999;
    position: relative;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    font-family: MarvelRegular;
    font-size: 71px;
    letter-spacing: 3px;
}

.banner h1 span {
    color: rgb(175, 0, 0);
}

.banner img {
    width: 100vw;
    height: 20vh;
}

.banner a {
    position: absolute;
    top: 25%;
    left: 98%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
}


/* BANNER CSS END */

.search {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.card {
    height: 400px;
    margin: 10px 0 10px 10px;
    flex-basis: 32.33%;
}

.card:hover{
    box-shadow: 15px 15px 22px rgba(33,33,33,.6);
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px; 
}

@media (max-width: 700px) {
    .banner h1 {
        top: 50.5%;
        font-family: MarvelRegular;
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }
    .banner a {
        top: 15%;
        left: 92%;
        transform: translate(-50%, -50%);
        font-size: 29px;
        color: black;
    }
    .card-section{
        display: flex;
        flex-direction: column;
        padding: 0 40px 0 20px;
    }
    .card {
        height: 425px;
        margin: 10px 0 10px 10px
    }
}