@font-face {
  font-family: SaucerBB;
  src: url(./font/SaucerBB.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #e7e7e7;
  color: #333;
}

.banner h1{
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: SaucerBB;
  font-size: 71px;
}

.banner h1 span{
  color: rgb(172, 0, 0);
}


.banner img{
  width: 100vw;
  height: 45vh;
}
