@font-face {
    font-family: MarvelRegular;
    src: url(./font/Marvel-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #e7e7e7;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}


/* BANNER CSS START */

.banner h1 {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: MarvelRegular;
    font-size: 71px;
    letter-spacing: 3px;
}

.banner h1 span {
    color: rgb(175, 0, 0);
}

.banner img {
    width: 100vw;
    height: 20vh;
}

.banner a {
    position: fixed;
    top: 5%;
    left: 98%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
}


/* BANNER CSS END */

.search {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.card {
    height: 470px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .banner h1 {
        top: 11.5%;
        font-family: MarvelRegular;
        font-size: 40px;
        letter-spacing: 5px;
        text-align: center;
    }
    .banner a {
        top: 4%;
        left: 92%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        color: black;
    }
}